#!/bin/sh
#
# site.config
#
#  This file is part of the ml2vim package
#  Copyright (C) 1998 Timo Felbinger 
#  email: Timo.Felbinger@quantum.physik.uni-potsdam.de
#
#  You may have to set site-specific values in this file if configure
#  can't figure them out correctly.
#    for *_PATHs, you should specify the full absolute path
#    for *_COMMANDs, you may include parameters after the command
#
#    For some variables, if you set them to something different
#    from "", configure might still check whether it works but will
#    not try to figure out the correct setting if it doesn't.
#
#   NOTE: This file is sourced by configure.
#         Any changes will take effect only after you rerun configure!
#
#
#  This program is free software; you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation; either version 2, or (at your option)
#  any later version.
#
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with this program (in a file called LICENSE); if not, write to 
#  the Free Software Foundation, Inc., 59 Temple Place - Suite 330, 
#  Boston, MA 02111-1307, USA, or look at http://www.gnu.org.


#
# ********   rerun ./configure whenever you changed this file!  **********
#


# A command returning the hostname (may include flags):
HOSTNAME_COMMAND=""

# A command returning the username (may include flags):
WHOAMI_COMMAND=""

# The C++ compiler to be used (gcc should work best):
# don't specify any flags here!
CC=""

# Additional flags you want to be passed to the compiler:
# 
CFLAGS=""
# -Wall is understood by Gnu but not by other compilers:
# CFLAGS="-Wall"

# Preprocessor flags. Here, you may have to use a -I-flag to add the
# directory containing mathlink.h to the list of directories searched 
# for #include-files.
# CPPFLAGS=""
# Linux users will most likely need:
#CPPFLAGS="-I/usr/local/mathematica/AddOns/MathLink/DevelopersKits/Linux/CompilerAdditions/"
# or:
CPPFLAGS="-I${HOME}/Mathematica/SystemFiles/Links/MathLink/DeveloperKit/Linux-x86-64/CompilerAdditions/"
# For True64 Unix (formerly known as Digital Unix), you may need this:
#CPPFLAGS="-I/usr/local/mathematica/AddOns/MathLink/DevelopersKits/DEC-AXP/CompilerAdditions/"

# Loader flags. Here, you may have to make sure the loader finds the
# mathlink library libML.a:
LDFLAGS=""
# for Linux:
#LDFLAGS="-L/usr/local/mathematica/AddOns/MathLink/DevelopersKits/Linux/CompilerAdditions/"
# or:
LDFLAGS="-L${HOME}/Mathematica/SystemFiles/Links/MathLink/DeveloperKit/Linux-x86-64/CompilerAdditions/"
# for True64 Unix:
#LDFLAGS="-L/usr/local/mathematica/AddOns/MathLink/DevelopersKits/DEC-AXP/CompilerAdditions/"

# Additional libraries to load:
LIBS=""

# A command returning a few lines identifying your system. The default is: 
#    $HOSTNAME_COMMAND && uname -a
# if that fails: 
#    $HOSTNAME_COMMAND && uname
# as a last resort: only 
#    $HOSTNAME_COMMAND
# the output of this command is used to prevent making/running of this program
# on a system it wasn't configured for.
SYSID_COMMAND=""

# Command line to launch the mathematica kernel in mathlink mode.
# You can override this setting at runtime by setting the environment
# variable MMA_COMMAND.
# Usually, this will look like "/some/path/math -mathlink":
MMA_COMMAND="${HOME}/Mathematica/Executables/math -mathlink"

# A command returning current date and time of day in the traditional
# baroque format (like Fri Oct  2 16:24:13 CEST 1998):
DATE_COMMAND=""

# A command returning the current UTC in the canonical
# format (like 19981002.142413 for the same time as above);
# this command will be build on the fly if it is not available:
UTC_COMMAND=""

# Path of the bourne-again shell (bash), if available:
BASH_PATH=""

# Where configure can find the scripts config.{sub,guess} and install-sh
# from the autoconf package (default is the current directory):
AUTOCONF_SCRIPT_DIR=""
#AUTOCONF_SCRIPT_DIR="/usr/local/lib/autoconf"

